@import './base.css';

#app {
  
   font-family:Arial, Helvetica, sans-serif;

 

  
}




/* @font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_slnt\,wght.ttf');

} */

@font-face {
  font-family: 'MyInter';
  src: url('./fonts/Inter-VariableFont_slnt\,wght.ttf') format('woff2');
  /* You may need to provide additional font formats here */
}
