@import './base.css';

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


#app {


  font-family: 'Inter', sans-serif;
  max-width: 1400px;
  margin-inline: auto;
  overflow-x: hidden;
  margin-inline: 1%;





}